@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
 border: dotted 3px rgb(152, 222, 235)
}
.activeRow {
  border: dashed 2px rgb(66, 172, 63);
  
}

body {
  height: 100vh;
  width: 100%;
}